.fadeRight-enter-active {
  transform: translateX(100%);
}
.fadeRight-to-active {
  transform: translateX(0);
}

.fadeRight-enter-active {
  transform: translateX(100%);
}
.fadeRight-to-active {
  transform: translateX(0);
}
