
@import './theme.module.scss';
@import './animation.scss';

// 移动端适配限制大小样式
// 顶部悬浮
.fixed-max-width-top-center{
  width: 100%;
  position: fixed;
  top: 0;
}
// 底部悬浮
.fixed-max-width-bottom-center{
  width: 100%;
  position: fixed;
  bottom: 0;
}
// 限制750宽度后悬浮窗口也需要控制在750并悬浮剧中
body.limit-width-body {
  margin: 0 auto;
  max-width: 750Px; /* px-to-viewport-ignore */
  .fixed-max-width-top-center{
    max-width: 750Px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fixed-max-width-bottom-center{
    max-width: 750Px;
    left: 50%;
    transform: translateX(-50%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** 隐藏滚动条 */
// html::-webkit-scrollbar,body::-webkit-scrollbar{
//   width:0px;
//   height:0px;
// }
html,body{
  height: 100%;
}
body{
  color: var(--normal-font-color);
  font-size: var(--normal-font-size);
  background-color: var(--normal-background-color);
  overflow-x: hidden;
}

ul,
li,
dl,
dd,
dt {
  list-style: none;
}

.container-wrap {
  width: 100%;
  // overflow: hidden;
  // max-width: 100%;
  .container-box {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
